extends layout

block content
  div(class="ui center aligned container")
    h1(style="text-align: center; margin-top: 20px;")='Lista Visitantes'
      table(class="ui red table" style="width: 50%; margin: 0 auto; margin-top: 5vh; margin-bottom: 10vh; text-align: center;")
        thead
          tr
            th='id'
            th='name'
            th='count'
        tbody
          each visitor in visitors
            tr
              td=`${visitor._id}`
              td=`${visitor.name}`
              td=`${visitor.count}`
